body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #0f1b21; 
}

.container {
    text-align: center;
    margin: 0 auto; 
    max-width: 800px; 
    padding: 0 20px; 
}

.title {
    margin-top: 50px;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.title span {
    color: aqua;
    padding-left: 15px;
}

.reset {
    width: 150px;
    height: 60px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    background: #1f3540;
    font-size: 24px;
    color: #26ffcb;
    margin-top: 20px;
    margin-bottom: 20px;
}

.boxes {
    height: 140px;
    width: 140px;
    background: #1f3540;
    border: 4px solid #0f1b21;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    max-width: 564px;
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    margin: auto;
}

.boxes img {
    height: 80px; 
    width: 80px; 
}

.title img {
    padding: 10px;
    height: 30px; 
    width: 30px; 
}

